.blog, .archive {

	// Alternating Colour
	.odd{
		@extend .bg-pattern-alpha;
		box-shadow: 0px 3px 5px $gray-light;
		border: solid 1px $gray-lighter;
	}

	// Layout
	.entry-content{
		// @include myoutline(red);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.image-cont, .post-copy{
			// @include myoutline(green);
			width: susy-span(12);
			@include breakpoint($screen-md-min){
				width: susy-span(6);
			}
		}
	}


	// Image
	.image-cont{
		padding-right: 12px;
		img{
			width: 100%;
			object-fit: cover;
		}
	}

	// Title on archive
	.post-title{
		font-size: $font-size-h3;
		font-weight: map-get($font-weights, bold);
		line-height: 1.4;
		// padding: 0;
		margin: 0;
	}

	.post-utillity{
		margin: 0;
	}

	.nav-links{
		// @include myoutline(red);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		background-color: $gray-lighter;

		.nav-previous, .nav-next{
			// @include myoutline(green);

			a{
				@extend .btn, .btn-link, .btn-sm;
				text-transform: uppercase;					
			}

		}

		.nav-next a{ @include fa-sudo(false, 'f105', 0.9); }
		.nav-previous a{ @include fa-sudo(true, 'f104', 0.9); }
	}
}