// Nav Quick
.cta-quick-nav{


	.thumbnail{
		margin: gutter();
		background-color: transparent;
		border-color: transparent;

		&>img{ 
			height: 200px; 
			object-fit: cover;
			border: solid 1px $gray-lighter;
			// border-radius: $thumbnail-border-radius;
		}
	}

	.caption{
		font-size: $font-size-large;
		text-align: center;
		text-transform: uppercase;
	}
}  

// Nav Quick Alpha
.cta-quick-nav-alpha{


	.thumbnail{
		margin: gutter();
		background-color: transparent;
		border-color: transparent;

		img{ 
			object-fit: contain;
			height: 100px;
		}

		.img-cont{
			overflow: hidden;
			text-align: center;
			padding: 1.0rem;
		}
	}

	.caption{
		font-size: $font-size-large;
		text-align: center;
		text-transform: uppercase;

		h2, .h2{
			font-size: $font-size-h3;
			margin-top: 0;
		}

		font-size: $font-size-base;
		line-height: 1.4;
	}
}  

// Nav Quick Alpha
.cta-quick-nav-bravo{


	.thumbnail{
		// @include myoutline(red);
		margin: gutter();
		background-color: transparent;
		border-color: transparent;

		img{ 
			@include img-responsive();
		}

		.img-cont{
			// @include myoutline(red);
			overflow: hidden;
			text-align: center;
			height: 400px;
		}
	}

	.caption{
		font-size: $font-size-large;
		text-align: center;
		text-transform: uppercase;

		h2, .h2{
			font-size: $font-size-h3;
			margin-top: 0;
		}

		font-size: $font-size-base;
		line-height: 1.4;
	}
}  


// Gallery Modal
.cta-gallery-modal{


	.thumbnail{
		background-color: transparent;
		border-color: transparent;

		&>img{ 
			height: 200px; 
			object-fit: cover;
			border: solid 1px $gray-lighter;
			// border-radius: $thumbnail-border-radius;
		}
	}

	.caption{
		font-size: $font-size-large;
		text-align: center;
		text-transform: uppercase;
	}
}  

.part-service-maintenance{
	.split-content{
		@include split-content();
	}
}