.events-table, .drawing-table{


	// Table Header
	th{
		font-weight: map-get($font-weights, 'regular');
	}


	.event-date, .dd-title{
		width: 20%;
	}

	.event-details{
		width: 40%;		
	}

	.event-location{
		width: 40%;		
	}

	.dd-item{
		width: 10%;
		text-align: center;
	}


	// 
	tbody tr{
		border-bottom: solid 2px $gray-light;
	}
}