.site-footer{
	color: #fff;

	.menu-item a{
		line-height: 100%;
		font-size: .9rem;
	}

	a{
		color: $link-color-reverse;
		&:hover, &:focus{
			color: $link-hover-color-reverse;
		}
	}

	.lg-social-media{
		@include list-unstyled;
		margin-left: -5px;

		> li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
		}

		.fa{
			font-size: $font-size-h3;
		}
	}

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		color: #fff;
	}

	.nav-title{
		font-size: $font-size-base;
		font-weight: map-get($font-weights, bold);
	}

	.custom-logo-link{
		display: block;
		margin-bottom: 1.4rem;
		max-width: 225px;
		img.custom-logo{ @include img-responsive(); }
	}

	.footer-brand-heading{
		font-family: $font-family-alt;
		margin: 6px 0;
		font-size: $font-size-h3;
	}

}