@import 'gravity/gravity-layout'; 
@import 'gravity/gravity-base'; 
@import 'gravity/gravity-validation'; 


// Custom for this theme


.gform_heading{
	text-align: center;

	.gform_title{
		text-transform: uppercase;
		font-weight: map-get($font-weights, "bold");
		margin: 0;
	}

	.gform_description{
		font-size: $font-size-h1;
	    font-style: oblique;
	}
}