.site-header{
	z-index:999;
	display:none;

	.mobile-toggle,.navbar-header{
		display:none;
	}

	&.sticky-header{
		position:fixed;
		width:100%;
		left:0;
		top:0;
		background-color: $sticky-header-bg-color;
	}
	
	.header-content{
		
		.utility-bar{
			// @include myoutline(red);
			font-size: 14px;
			background-color: #fff;
			display:none;
			@include breakpoint($screen-sm-min){display:block; }
			padding: 0 gutter();
			transition: margin-top 0.3s ease-in-out 0s;

			.container{
				// @include myoutline(red);
				position:relative;
				display:flex;
				justify-content: space-between;
				@include breakpoint($screen-lg-min){
					justify-content: flex-end;
				}
				align-items: center;
			}


			.company-name{
				// @include myoutline(green);
				@extend .h2;
				color: $brand-primary;
				text-align:left;
				font-family: Georgia, Times, "Times New Roman", serif;
				width: susy-span(8);
				@include breakpoint($screen-lg-min){
					width: 100%; 
					text-align: center;
					position: absolute;
				}
			}


			.right{

				// Layout
				width: susy-span(4);
				padding: 5px; 

				@include breakpoint($screen-lg-min){
					width: susy-span(3);
				}
				
				// Design
				background-color: $brand-primary;
				text-align: center;
				line-height: 1.4;
				color: #fff;
				
				a{
					color: #fff;
					&:hover, &:focus{
						color: darken(#fff, 20%);
					}
				}

				.sub-phone{
					font-size: $font-size-large;
					font-weight: map-get($font-weights, 'bold');
				}

			}

		}



		.header-main{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: $header-block-padding;
			flex-wrap: wrap;
			transition: opacity 1s ease-in-out 0s;

			.custom-logo-link{
				svg{
					display:block;
				}
			}

			&.desktop{
				display: none;
			}

			@include breakpoint($screen-sm-min){
				&.desktop{
					display: flex;

					.main-navigation{
						width: calc( (100% - #{$header-logo-width-sm}) / 2 );
						text-align:center;
						.navbar-nav{
							width:100%;
							& > li{width: calc( 100% / 3 ); }
						}
					}
				}
				&.mobile{
					display: none;
				}
			}
			
			.site-branding{
				.logo{
					width: $header-logo-width;

					@include breakpoint($screen-sm-min){
						width: $header-logo-width-sm;
						padding: 0 50px;
					}

					img{
						width:100%;
						display:block;
					}
				}
			}
			@media (max-width: $screen-sm-min - 1){
				&{
					padding:0;
				}
				.site-branding{
					display:flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					padding: gutter();
				}
				.main-navigation{
					width:100%;
				}
				.navbar{
				    .navbar-collapse{
				    	margin:0;
				    	overflow:hidden;
				    	padding:20px 0;
				    	background-color: rgba($gray, 0.8);
				    	a{
				    		color:#fff;
				    	}
				    	.navbar-nav{
				    		margin:0;
				    	}
				    }
				}
				.mobile-toggle{
					display:block;
					color: #fff;
				}
				
			}
		}

		.navbar{
			border:0;
		}
	}

	&.scroll-state{
		.header-main{
			background-color: rgba(0,0,0,.7);
		}
	}
}

.feature-banner{
	// @include myoutline(red);
	max-height: 320px;
	overflow: hidden;
	@include clearfix();
	position: relative;

	@include breakpoint($screen-sm-min){
		max-height: 100vh;
	}

	.title-cont{
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		z-index: 99;

		@include breakpoint($screen-sm-min){
			right: 8%;
			transform: translate(8%, -50%);			
		}
	}

	.img-cont{
		// @include myoutline(green);
		width: 100%;

		img{
			max-height: 100vh;
			width: 100%;
			display: inline; 
			object-fit: cover;
			object-position: center center;
		}
	}

	.banner-content{
		background-color: rgba(#fff, 0.7);
		max-width: 350px;
		border-radius: $border-radius-large * 2;
		padding: ($padding-large-vertical * 2) ($padding-large-horizontal * 2);
		text-align: center;
	}

	.featured-title{
		color: $brand-primary;
		font-size: $font-size-h3;
		line-height: 1.1;
		font-weight: map-get($font-weights, bold);
	}

} 