// @mixin button-variant($color, $background, $border) {
// @mixin fa-sudo($fa-before: false, $fa-icon: f00c, $fa-distance: 0.3, $fa-color: inherit){


.btn-slider{
	@include button-variant(#fff, rgba($brand-primary, 0.8), rgba(#fff, 0.5));
	@include fa-sudo(false, 'f105', 0.75);
	text-transform: uppercase;
	font-size: $font-size-h4;
}