// Main Navigation

$menu-item-radius: 12px;

.navbar-nav{
	
	.menu-item{
		font-size: $navbar-font-size;
		@include breakpoint($screen-sm-min){ font-size: $navbar-font-size-sm; }
		@include breakpoint($screen-md-min){ font-size: $navbar-font-size-md; }
		
		.dropdown-toggle{
			text-transform: uppercase;
			border-radius: $menu-item-radius;
		}

		& > a{
			border-radius: $menu-item-radius;	
		}
	}


	
	// Active Page
	.current-menu-ancestor > a{ 
		background-color: $navbar-default-link-active-bg
	}

	// Drop down custom for main only
	.dropdown-menu{
		border:0;
		padding:0;
		opacity: .9 !important;
		min-width: 100%;
		a{
			padding: 10px 15px !important;
			font-weight: 300 !important;
		}
	}

}

// Tablet Menu Custom Adjustment
#main-navbar, #mega-menu-wrap-top-nav{

	@include breakpoint(max-width $screen-md-min){
		padding: 0;

		.navbar-nav > .menu-item > a, #mega-menu-top-nav > li.mega-menu-item > a.mega-menu-link {
			font-size: 11px !important;
		}

	}
}


// Footer Navigation
.site-footer{
	.menu{
		// @include myoutline(red);
		@include list-unstyled(); 
		color: #fff;

		.menu-item a{ 
			color: $link-color-reverse;
			display: block;
			padding-top: 0.25rem;
			padding-bottom: 0.25rem;
			// padding-left: 0.25rem;
			text-transform: uppercase;
			&:hover, &:focus{
				color: $link-hover-color-reverse;
				background: rgba($link-color-reverse, 0.1);
			} 
		}

	}
}

#mega-menu-wrap-top-nav{
	background: transparent;
	#mega-menu-top-nav{
		width: 100%;
		>li{
			width: calc( 100% / 3 ) !important;
			>.mega-menu-link{
				text-align: center !important;
				text-transform: uppercase !important;

				&:hover{
					background: $navbar-default-link-hover-bg !important;
				}
			}
		}
	}
}

.mega-menu-link{
	padding: 10px 15px !important;
	border-radius:  $menu-item-radius !important; 
	height: auto !important;
	line-height: $line-height-computed !important;
	font-weight: 300 !important;
	font-size: $navbar-font-size !important;
	
	@include breakpoint($screen-sm-min){ font-size: $navbar-font-size-sm !important; }
	@include breakpoint($screen-md-min){ font-size: $navbar-font-size-md !important; }
}

.mega-menu{
	
    display: flex !important;
    justify-content: space-around;

    li.mega-menu-item.mega-toggle-on > a.mega-menu-link{
    	background: $navbar-default-link-hover-bg !important;
    }

    .mega-menu-flyout{
    	text-align: left !important;
		>.mega-sub-menu{
	    	min-width: 100%;
	    	opacity: .9 !important;
	    	li{
	    		width: 100% !important;
	    	}
	    }
    }

    .mega-menu-grid{
    	text-align: center !important;
		
		>.mega-sub-menu{
			width: calc( 100vw - #{$padding-base-vertical} * 4 ) !important;
			opacity: .9 !important;
			padding: 10px 15px !important;

				.custom-html-widget{
					// @include myoutline(red);
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					overflow: hidden;

					h4{
						// @include myoutline(green);
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 100%;
						height: 60px;
						text-align: center;
						color: $brand-primary;
						padding: $padding-base-vertical $padding-base-horizontal;
						margin: 0;
						overflow: hidden;
						font-weight: map-get($font-weights, bold);
						font-size: $font-size-base;
					}

					img{
						// @include myoutline(green);
						display: block;
						max-height: 200px;
						width: auto;
						margin-left: auto;
						margin-right: auto; 
					}

				}


		}
    }
}


.mega-sub-menu{
		border-radius:  $menu-item-radius * 2 !important; 
}


// Mobile Menu Adjustment
#main-mobile-nav{

	.dropdown-menu{
		background-color: $gray;

		.menu-item a{
			padding-left: 0.75rem;
		    transform: translateX(12px);
		    text-transform: uppercase;
		}
	}
}