.page-title{
	text-align: center;
	// text-transform: uppercase;
	position: relative;

	h1{ text-transform: uppercase; }

	@extend .pb-sm;

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $brand-primary;
	}

	&:before{
		content: '';
		position: absolute;
		bottom: -4px;
		left: 50%;
		transform: translateX(-50%);
		width: 7vw;
		height: 4px;
		background-color: $brand-primary;
		border-radius: $border-radius-large;
	}
}

// Hide Feature image on contact and blog page
.page-contact-us, .blog, .single-post{
	.feature-banner{
		display: none;
	}
	#masthead{
		position:relative;
		.header-main{
			background-color: $gray-dark;
		}
	}
}