.page-windows{


}


.product-tabs{
	// @include myoutline(red);


	// Navigation Pills
	.nav-pills a{
		margin-left: $padding-base-horizontal;
		margin-right: $padding-base-horizontal;
		background-color: $brand-primary;
		color: #fff;
		text-transform: uppercase;
		font-weight: map-get($font-weights, regular);

		&:hover, &:focus{
			background-color: $gray-lighter;
			color: $brand-primary;			
		}
	}


	.nav-pills .active > a{
		background-color: $gray-lighter !important; // not sure why this is needed, but tabs not in focus on first click.
		color: $brand-primary !important;	
		font-weight: map-get($font-weights, regular) !important;
		position: relative;

		&:after{
			content: '-';
			position: absolute;
			left: 0;
			bottom: -25px;
			width: 100%;
			height: 50px;
			background-color: $gray-lighter;
			z-index: -1;
		}
	}


	// Tabs
	.tab-content{
		// @include myoutline(green);
		margin-left: $padding-base-horizontal;
		margin-right: $padding-base-horizontal;
		background-color: $gray-lighter;
		padding: gutter();
		margin-top: 12px;
	}

}