.single-product{
	.intro-section{
		.split-content{
			@include split-content($reverse: true, $image-width: 40%, $copy-width: 60%, $copy-text-align: left, $h2-size: 1.4rem);
			iframe{
				width: 100%;
			}
		}
	}

	.product-tab{
		.tab-content{
			padding: 40px 15px;
			.product-types{
				.single-product-type{
					margin-bottom: 15px;
					@include split-content($image-width: 110px, $copy-width: calc( 100% - 110px ), $copy-text-align: left, $copy-vertical-align: top, $copy-vertical-padding:0, $breakpoint: $screen-xs-min);
					.split-image{
						// @include myoutline(red);
						img{
							width: 100%;
							height: 200px;
							object-fit: contain;
							object-position: center center;
							@include breakpoint($screen-sm-min){
								width: 110px;
								height: 110px;
								object-fit: cover;
								object-position: center center;
							}
						}
					}
					h3{
						margin:0;
					}
				}
			}
			.product-size-wrap{
				width: 100%;
				overflow-x: scroll;
				.product-size{
					min-width: 500px;
				}
			}
			.product-mesh-wrap{
				width: 100%;
				overflow-x: scroll;
				.product-mesh{
					min-width: 700px;

					.single-product-mesh{
						img{
							width: 80px;
							height: 80px;
							object-fit: cover;
						}
					}
				}
			}
			.product-price{
				display: flex;
				flex-wrap: wrap;
				>div{
					width: 100%;
					padding: 10px;
					box-sizing: border-box;
					text-align: center;
					font-size: .9rem;

					.price-content{
						padding: 15px 0;
						.type{
							text-transform: uppercase;
						}
						.price{
							font-weight: 700;
						}
					}
					img{
						width: 150px;
						height: 150px;
						object-fit: cover;
					}

					@include breakpoint($screen-sm-min){
						width: 33.33%;
					}

					@include breakpoint($screen-lg-min){
						width: 25%;
					}
				}
			}
			#colors{
				.content{
					

					.color-list{
						// @include myoutline(red);
						padding:0;
						margin: 15px 0;
						list-style: none;
						display: flex;
						justify-content: flex-start;
						flex-wrap: wrap;
						li{
							// @include myoutline(red);
							text-align: center;
							padding: 7.5px;
							box-sizing: border-box;
							width: susy-span(6);
							@include breakpoint($screen-xs-min){
								width: susy-span(4);
							}
							@include breakpoint($screen-sm-min){
								width: auto;
								flex: 0 1 auto; 
							}

							img{
								width: 65px;
								height: 65px;
							}
							div{
								font-size: 13px;
								margin-top: 10px;
								line-height: 120%;
							}
						}
					}


					.color-list-custom{
						@extend .color-list;
						li{
							img{
								width: 120px; 
								height: 65px;
							}
						}
					}
				}
			}
		}


		// .nav-tabs{
		// 	li{
		// 		width: calc( 33.33% - 5px );
		// 		margin: 2.5px 2.5px 0 2.5px;
		// 		text-align: center;
		// 		a{
		// 			text-transform: capitalize;
		// 			border: 1px solid $brand-primary;
		// 			color: #fff;
		// 			background-color: $brand-primary;
		// 			&:hover{
		// 				background-color: #fff;
		// 				color: $brand-primary;
		// 			}
		// 		}

		// 		&.active{
		// 			a{
		// 				background-color: #fff;
		// 				color: $brand-primary;
		// 			}
		// 		}

		// 		@include breakpoint($screen-sm-min){
		// 			width: calc( 20% - 5px );	
		// 		}


		// 		@include breakpoint($screen-lg-min){
		// 			width: calc( 20% - 5px );
		// 		}
		// 	}
		// }

		
	}

	table{
		margin: 30px 0;
		th{
			background-color: $brand-gold;
			color: #fff;
		}

		th, td{
			padding: 10px 15px;
		}
	}
}