// UL container
.widget-area{
	padding-top:$padding-base-vertical ;
	padding-bottom: $padding-base-vertical;
}

// Default widget
.widget{
	// @include myoutline(red);

	.widget-title{
		border: solid 1px $brand-primary;
		background-color: $brand-primary;
		border-radius: $border-radius-large;
		color: #fff;
		padding: $padding-base-vertical;
		font-size: $font-size-large;
		text-transform: uppercase;
		font-weight: map-get($font-weights, bold);
		text-align: center;
	}

	& > ul{
		@include list-unstyled;
		margin: 0 12px 0 12px;
	}
}

.widget_search{
	// @include myoutline(red);
}

