.home{

	.cta-quick-nav-bravo{

		// Layout
		.quick-nav{
		justify-content: space-between;

			&-item{
				width: susy-span(12);
				@include breakpoint($screen-sm-min){ width: susy-span(6); }
				@include breakpoint($screen-md-min){ width: susy-span(4); }
			}

			&-item:last-child{
				@include breakpoint($screen-sm-min){ width: susy-span(12); }
				@include breakpoint($screen-md-min){ width: susy-span(4); }
			}

		}

		// Image
		.img-cont{
			// @include myoutline(green);
			height: 250px;
			img{
				width: 100%;
				height: 250px;
				object-fit: cover;
				object-position: center;
			}
		}

		// Copy
		.caption{
			text-align: initial;
		}

	}


	.cta-quick-nav{
		// @include myoutline(red);

				// Layout
		.quick-nav{
		justify-content: space-between;

			&-item{
				z-index: 199;
				width: susy-span(12);
				@include breakpoint($screen-sm-min){ width: susy-span(6); }
				@include breakpoint($screen-md-min){ width: susy-span(3); }
			}

		}
	}


	// Feature Image Slider
	.title-cont{
		display: none;
		

		@include breakpoint($screen-sm-min){
			display: block;
			top: initial;
			bottom: 0;
			right: 0;
			transform: translate(-10%, -10%);
		}

	}

}