.page-meet-the-team{


	.cta-alpha{

		img.alignright, img.alignleft{
			// @include myoutline(red);
			margin-bottom: gutter();
			@include img-responsive();
		}  

		h2, .h2{
			font-size: $font-size-large;
			font-weight: map-get($font-weights, bold);
			clear: both;
			@include breakpoint($screen-sm-min){ clear: initial; }
		}
	}
}