.single-product{
	.title-cont{
		display: none;
		

		@include breakpoint($screen-sm-min){
			display: block;
			top: initial;
			bottom: 0;
			right: 0;
			transform: translate(-10%, -10%);
		}

	}
}