.thumbnail-quick{
	@extend .thumbnail;
}


// Quick Navigation
.cta-quick-nav{

	.quick-nav{
	// @include myoutline(red);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

		&-item{
			// @include myoutline(green);
			width: susy-span(12);
			@include breakpoint($screen-xs-min){ width: susy-span(6); }
			@include breakpoint($screen-sm-min){ width: susy-span(4); }
			// @include breakpoint($screen-lg-min){ padding: 0 3.0rem; }
		}

	}
} 

// Quick Navigation Alpha
.cta-quick-nav-alpha{

	.quick-nav{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

		&-item{
			width: susy-span(12);
			@include breakpoint($screen-xs-min){ width: susy-span(12); }
			@include breakpoint($screen-sm-min){ width: susy-span(3); }
		}

	}
} 

// CTA Half and Half
.cta-half-half{

	.half-half-cont{
		// @include myoutline(red);
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;

		.cta-left-half, .cta-right-half{
			// @include myoutline(blue);
			width: susy-span(12);
			margin-bottom: gutter();
			@include breakpoint($screen-xs-min){ width: susy-span(12); }
			@include breakpoint($screen-sm-min){ width: susy-span(6); }
		}

	}
} 

// Quick Navigation Alpha
.cta-quick-nav-bravo{

	.quick-nav{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

		&-item{
			width: susy-span(12);
			@include breakpoint($screen-xs-min){ width: susy-span(12); }
			@include breakpoint($screen-sm-min){ width: susy-span(6); }
		}

	}
} 

// Gallery Modal
.cta-gallery-modal{

	.quick-nav{
	// @include myoutline(red);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

		&-item{
			// @include myoutline(green);
			width: susy-span(6);
			padding: gutter();
			@include breakpoint($screen-xs-min){ width: susy-span(6); }
			@include breakpoint($screen-sm-min){ width: susy-span(3); }
		}

	}
} 

.modal.gallery{
	background-color:rgba(0,0,0,.9);

	.modal-body{
		padding:0;
		.slide-container{
			padding:0 !important;
		}
	}
	.slide-cta{
		left:0;
		bottom:0;
		top:auto;
		width:100%;
		transform:none;
		color: $brand-primary;
	}
	.modal-dialog{
		margin: auto auto;
    	transform: translateY( calc(50vh - 50%) );
	}
}

.cta-quick-nav.product-taxonomy{
	&-item{
		@include breakpoint($screen-xs-min){ width: susy-span(6); }
		@include breakpoint($screen-sm-min){ width: susy-span(4); }
	}
}

// Quick Navigation
.cta-youtube{

	.quick-nav{
	// @include myoutline(red);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

		&-item{
			// @include myoutline(green);
			padding: 1rem;
			width: susy-span(6);
			@include breakpoint($screen-xs-min){ width: susy-span(6); }
			@include breakpoint($screen-sm-min){ width: susy-span(3); }
			// @include breakpoint($screen-lg-min){ padding: 0 3.0rem; }
		}

	}
} 


// Shame
.myvideo{
	width: susy-span(12);
	margin-left: auto;
	margin-right: auto;

	@include breakpoint($screen-xs-min){
		width: susy-span(10);
	}

	@include breakpoint($screen-sm-min){
		width: susy-span(8);
	}

}

.single-product{

	.half-half-cont{
		align-items: center;
	}

}