// Site Footer 
.site-footer{

	#site-footer{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: gutter() / 2 1.5rem;
	}

	&-alpha, &-bravo, &-charlie, &-delta, &-echo{
		// @include myoutline(red);
	}

	// Logo and Company copy
	&-alpha{
		width: susy-span(12);
		// padding: 0 16px 0 16px;
		@include breakpoint($screen-sm-min){ width: susy-span(12); }
		@include breakpoint($screen-md-min){ width: susy-span(12); }
		@include breakpoint($screen-lg-min){ width: susy-span(4); }
	}

	// Products Nav
	&-bravo{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-md-min){ width: susy-span(4); }
		@include breakpoint($screen-lg-min){ width: susy-span(2); }
	}

	// About Us Nav
	&-charlie{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-md-min){ width: susy-span(4); }
		@include breakpoint($screen-lg-min){ width: susy-span(2); }
	}

	// Contact
	&-delta{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-md-min){ width: susy-span(4); }
		@include breakpoint($screen-lg-min){ width: susy-span(2); }
	}

	// Social Links
	&-echo{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-md-min){width: susy-span(12); }
		@include breakpoint($screen-lg-min){ width: susy-span(2); }
	}

}



// Default Legal stuff
#site-legal{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
	.site-info{
		width: susy-span(12);
		text-align: center;

		@include breakpoint($screen-sm-min){
			width: susy-span(6);
			text-align: left;
		}
	}

	.site-longevity{
		width: susy-span(12);
		text-align: center;


		@include breakpoint($screen-sm-min){
			width: susy-span(6);
			text-align: right;
		}
	}

	// // Shame
	// a{
	// 	color: $link-color-reverse;
	// 	&:hover, &:focus{
	// 		color: $link-hover-color-reverse;
	// 	}
	// }
}
 