// Testimonials
.archive.post-type-archive-testimonials{

	main{
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.site-content .post-container{
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
	}

	.body-copy{ 
		width: 100%;
		max-width: initial;
		padding: 0;
	}

	article.testimonials{
		// @include myoutline(red);
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;

		.post-copy{
			width: 100%;
		}

		// @mixin fa-sudo($fa-before: false, $fa-icon: f00c, $fa-distance: 0.3, $fa-color: inherit){
		@include fa-sudo(false, 'f10e');
		@include fa-sudo(true, 'f10d');

		&:after{
			float: right;
		}

	}

}

