html { overflow-y:scroll; }

// alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.1rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.1rem;
}

.aligncenter {
	clear: both;
	@include center-block;
}


// Image
.body-copy{
	img{ 
		@include img-responsive(); 
		margin-bottom: 1.1rem;
	}
}


// Table
table{
	@extend .table;
}

.screen-reader-text{
	@extend .sr-only;
}

// Responsive Video embed. ~ defaulting to 16 x 9.	
.responsive-container{
	@extend .embed-responsive;
	@extend .embed-responsive-16by9;

	iframe{ @extend .embed-responsive-item; }
}

