// Padding -------------------------------------------------------------------------------------------------------------
	
	// Padding
	.p-xs{ padding: $padding-base-vertical; }
	.p-sm{ padding: $padding-base-vertical * 2; }
	.p-md{ padding: $padding-base-vertical * 3; }
	.p-lg{ padding: $padding-base-vertical * 4; }

	// Padding Top
	.pt-xs{ padding-top: $padding-base-vertical; }
	.pt-sm{ padding-top: $padding-base-vertical * 2; }
	.pt-md{ padding-top: $padding-base-vertical * 3; }
	.pt-lg{ padding-top: $padding-base-vertical * 4; }

	// Padding Right
	.pr-xs{ padding-right: $padding-base-vertical; }
	.pr-sm{ padding-right: $padding-base-vertical * 2; }
	.pr-md{ padding-right: $padding-base-vertical * 3; }
	.pr-lg{ padding-right: $padding-base-vertical * 4; }

	// Padding Bottom
	.pb-xs{ padding-bottom: $padding-base-vertical; }
	.pb-sm{ padding-bottom: $padding-base-vertical * 2; }
	.pb-md{ padding-bottom: $padding-base-vertical * 3; }
	.pb-lg{ padding-bottom: $padding-base-vertical * 4; }

	// Padding Left
	.pl-xs{ padding-left: $padding-base-vertical; }
	.pl-sm{ padding-left: $padding-base-vertical * 2; }
	.pl-md{ padding-left: $padding-base-vertical * 3; }
	.pl-lg{ padding-left: $padding-base-vertical * 4; }

// Margin --------------------------------------------------------------------------------------------------------------

	// Margin Top
	.mt-xs{ margin-top: $padding-base-vertical; }
	.mt-sm{ margin-top: $padding-base-vertical * 2; }
	.mt-md{ margin-top: $padding-base-vertical * 3; }
	.mt-lg{ margin-top: $padding-base-vertical * 4; }

	// Margin right
	.mr-xs{ margin-right: $padding-base-vertical; }
	.mr-sm{ margin-right: $padding-base-vertical * 2; }
	.mr-md{ margin-right: $padding-base-vertical * 3; }
	.mr-lg{ margin-right: $padding-base-vertical * 4; }

	// Margin bottom
	.mb-xs{ margin-bottom: $padding-base-vertical; }
	.mb-sm{ margin-bottom: $padding-base-vertical * 2; }
	.mb-md{ margin-bottom: $padding-base-vertical * 3; }
	.mb-lg{ margin-bottom: $padding-base-vertical * 4; }

	// Margin Left
	.ml-xs{ margin-left: $padding-base-vertical; }
	.ml-sm{ margin-left: $padding-base-vertical * 2; }
	.ml-md{ margin-left: $padding-base-vertical * 3; }
	.ml-lg{ margin-left: $padding-base-vertical * 4; }

// Background  ---------------------------------------------------------------------------------------------------------

	.bg-gray-base, .bg-gray-darker, .bg-gray-dark, .bg-gray, .bg-gray-light{ color: #fff; }
	
	.bg-gray-base{ background-color   : $gray-base; }
	.bg-gray-darker{ background-color : $gray-darker; }
	.bg-gray-dark{ background-color   : $gray-dark; }
	.bg-gray{background-color         : $gray;}
	.bg-gray-light{ background-color  : $gray-light; }
	.bg-gray-lighter{background-color : $gray-lighter; }


	// Custom Overlay for feature image dark ---> transparent for navigation visiblitly.
	.fm-color-overlay{ 
		position: relative;

		&:before{
			content: '';
			position: absolute;
			top: 0;
			left:0;
			display: block !important;
		    width:100%;
		    height:100%;
			background: linear-gradient(to top, rgba($gray-base, 0.0) 5%, rgba($gray-base, 0.3) 95% ); 		
		z-index: 1;
		} 
	}
 
 	// Pattern
	.bg-pattern-alpha{ 
		background-image      : url("./assets/dist/images/pattern.jpg");
		background-repeat     : repeat;
		background-position   : center center;
		// background-size       : cover;
	}






















// Not sure what or how to name this 
.btn-size{
	padding: $padding-base-vertical $padding-base-horizontal;
	display: inline-block;
}

.mobile-textcenter-xs{
	@include breakpoint(max-width $screen-xs-min){
		text-align: center;
	}
}

.center{
	text-align: center;
}

.non-visible{
	visibility: hidden;
}

.img-full{
	width:100%;
	display:block;
}

.section-full{
	@media only screen and (max-width: $container-width) {
		padding-left: gutter();
		padding-right: gutter();
		box-sizing: border-box;
	}
}

.section{
	padding-left: gutter();
	padding-right: gutter();
	box-sizing: border-box;
}