.container{
	max-width: $container-width;
	margin-left: auto;
	margin-right: auto;

	@include breakpoint(max-width $container-width){
		margin-left: gutter();
		margin-right: gutter();
	}
}

// Site Content
.site-content{
	width: susy-span(12);

	.body-copy{
		@extend .container;
		padding: 0 gutter(); 
	}
}

// Site Footer 
.site-footer{

	#site-footer{
		@extend .section;
		width: 100%;
		
		>div{
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			text-align: center;

			.lg-social-media{
				justify-content: center;
			}

			@include breakpoint($screen-sm-min){
				justify-content: space-between;	
				text-align: left;

				.lg-social-media{
					justify-content: left;
				}
			}
		}

		.nav-footer{
			width: susy-span(12);
			margin-bottom: gutter();
			margin-top: gutter();

			@include breakpoint($screen-sm-min){
				width: susy-span(6);	
			}


			@include breakpoint($screen-lg-min){
				width: susy-span(3);	
			}
		} 
		
		.blog-feed{
			width: susy-span(12);
			margin-bottom: gutter();

			@include breakpoint($screen-sm-min){
				order: -1;
			}

			@include breakpoint($screen-lg-min){
				order: initial;
				width: susy-span(6);
			}
		}

		.footer-utility{
			width: susy-span(12);
			margin-bottom: gutter(); 

			@include breakpoint($screen-sm-min){
				width: susy-span(6);	
			}

			@include breakpoint($screen-lg-min){
				width: susy-span(3);	
			}			
		}
	}

	#site-legal{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		
		.site-info{
			width: susy-span(12);
			text-align: center;

			@include breakpoint($screen-xs-min){
				width: susy-span(6);
				text-align: left;
			}
		}

		.site-longevity{
			width: susy-span(12);
			text-align: center;


			@include breakpoint($screen-xs-min){
				width: susy-span(6);
				text-align: right;
			}
		}

		div, p, a{
			color:#fff;
		}
	}

}


// Blog
.blog, .archive, .post-template-default{

	main{
		max-width: $container-width;
		margin-right: auto;
		margin-left: auto;
	}

	.site-content .post-container{
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
	}

	.body-copy{ 
		// @include myoutline(red);
		width: susy-span(12);

		@include breakpoint($screen-sm-min){
			width: susy-span(8);
		}
	}

	.widget-area{
		// @include myoutline(red);
		padding: 0 gutter();
		width: susy-span(12);

		@include breakpoint($screen-sm-min){
			width: susy-span(4);
		}
	}

}