@mixin split-content( 

    $image-width: 50%,  // width of .split-image
    $copy-width: 50%,   // width of .split-copy
    $copy-max-width: null,

    $reverse: false,    // orginally it should be image left, copy right. Other way around set this to true

    $max-height-tablet: initial,  // image max height under breakpoint
    $max-height-tablet-visual-area: center,  // [top, bottom, center]

    $copy-vertical-padding: 2rem,
    $copy-vertical-margin: 0,

    $copy-horizontal-padding: 5%, 
    $copy-horizontal-margin: 0,

    $copy-vertical-align: center,  // [top, bottom, center]
    //$copy-horizontal-align: left,  // [left, center, right]
    $copy-text-align: center, // [left, center, right]

    $breakpoint: 768px,
    $gutter: 15px,

    $h1-size: initial,
    $h1-line-height: initial,
    $h1-font-weight: initial,
    $h1-font-style: initial,

    $h2-size: initial,
    $h2-line-height: initial,
    $h2-font-weight: initial,
    $h2-font-style: initial,

    $h3-size: initial,
    $h3-line-height: initial,
    $h3-font-weight: initial,
    $h3-font-style: initial,

    $h4-size: initial,
    $h4-line-height: initial,
    $h4-font-weight: initial,
    $h4-font-style: initial,

    $h5-size: initial,
    $h5-line-height: initial,
    $h5-font-weight: initial,
    $h5-font-style: initial,

    $h6-size: initial,
    $h6-line-height: initial,
    $h6-font-weight: initial,
    $h6-font-style: initial,

    $ul-ol-list-style: initial,
    $ul-ol-padding: initial,
    $ul-ol-margin: initial,

    $li-size: initial,
    $li-line-height: initial,
    $li-font-weight: initial,
    $li-font-style: initial,

    $a-size: initial,
    $a-line-height: initial,
    $a-font-weight: initial,
    $a-font-style: initial

){
    display: flex;
    width: 100%;

    @if $copy-vertical-align == top {
        align-items: flex-start;
    } @else if $copy-vertical-align == center {
        align-items: center;
    } @else if $copy-vertical-align == bottom {
        align-items: flex-end;
    }
    @if $reverse == true {
        flex-direction: row-reverse;
    }

    .split-image {
        width: $image-width;
        position: relative;
        @media screen and (max-width: $breakpoint) {
            max-height:$max-height-tablet;
            overflow:hidden;

            @if $max-height-tablet != initial {
                display: flex;
                @if $max-height-tablet-visual-area == 'center' {
                    align-items: center; 
                } @else if $max-height-tablet-visual-area == 'top' {
                    align-items: flex-start; 
                } @else if $max-height-tablet-visual-area == 'bottom' {
                    align-items: flex-end; 
                }
                
            }
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .split-copy {
        width: $copy-width;
        padding: $copy-vertical-padding $copy-horizontal-padding;
        margin: $copy-vertical-margin $copy-horizontal-margin;
        box-sizing: border-box;
        text-align: $copy-text-align;

        @if $copy-max-width != null {
            max-width: $copy-max-width;
            margin: $copy-vertical-margin auto;
        }

        /*@if $copy-horizontal-align == left {
            justify-content: flex-start;
        } @else if $copy-horizontal-align == center {
            justify-content: center;
        } @else if $copy-horizontal-align == right {
            justify-content: flex-end;
        }*/

        h1 {
            font-size: $h1-size;
            line-height: $h1-line-height;
            font-weight:  $h1-font-weight;
            font-style: $h1-font-style;
        }

        h2 {
            font-size: $h2-size;
            line-height: $h2-line-height;
            font-weight:  $h2-font-weight;
            font-style: $h2-font-style;
        }

        h3 {
            font-size: $h3-size;
            line-height: $h3-line-height;
            font-weight:  $h3-font-weight;
            font-style: $h3-font-style;
        }

        h4 {
            font-size: $h4-size;
            line-height: $h4-line-height;
            font-weight:  $h4-font-weight;
            font-style: $h4-font-style;
        }

        h5 {
            font-size: $h5-size;
            line-height: $h5-line-height;
            font-weight:  $h5-font-weight;
            font-style: $h5-font-style;
        }

        h6 {
            font-size: $h6-size;
            line-height: $h6-line-height;
            font-weight:  $h6-font-weight;
            font-style: $h6-font-style;
        }

        ul,ol {
            list-style: $ul-ol-list-style;
            padding: $ul-ol-padding;
            margin: $ul-ol-margin;
            li {
                margin-bottom: gutter();
                font-size: $li-size;
                line-height: $li-line-height;
                font-weight: $li-font-weight;
                font-style: $li-font-style;
            }
        }
        a{
            font-size: $a-size;
            line-height: $a-line-height;
            font-weight: $a-font-weight;
            font-style: $a-font-style;
        }
    }


    @media screen and (max-width: $breakpoint + 1) {
        flex-direction: column;
        .split-copy {
            padding: $gutter;

            ul,ol{
                margin-left: 0;
            }
        }
        .split-copy,
        .split-image {
            width: 100%;
        }
    }
} 