html, body{
	font-size: $base-font-size;
	font-family: $font-family-base;
	line-height: $line-height-base;
	font-weight: $base-font-weight;

	@include breakpoint($screen-sm-min){
		font-size: $base-font-size-sm;
	}

	@include breakpoint($screen-md-min){
		font-size: $base-font-size-md;
	}
}



// blockquote{
// 	font-size: inherit;
// }

.sticky-header{
	.mobile-toggle{
		font-size: 25px;
		cursor: pointer;
	}	
}

// .h1{
// 	font-size: 3rem;
// 	line-height: 4rem;
// }

// .h2{
// 	font-size: 1.2rem;
// 	@include breakpoint($screen-sm-min){
// 		font-size: 1.4rem;
// 	}
// }

// .h3{
// 	font-size:1.4rem;
// 	@include breakpoint($screen-sm-min){
// 		font-size: 1.8rem;
// 	}
// }

// .h4{
// 	font-size:1.3rem;
// 	margin-bottom: 5px;
// }

// a{
// 	font-weight: $link-font-weight;
// }