// Display required fields with "*"
.gfield_contains_required{

	.gfield_required{
		padding: 0 2px;
		color: red;
	}
}


// Box at top of form "There was a problem..."
.validation_error{
	display: block;
	padding: $padding-base-vertical $padding-base-horizontal;
	background-color: $brand-danger;
	color: #fff;
	border-radius: $border-radius-base;
	margin: 1.0rem 0;
	box-shadow: 1px 1px 5px $gray-light;
}


.validation_message{
	color: $brand-danger;
}

.gfield_error{
	@extend .has-error;
}