// ---- Susy Grid
$susy: ( 'columns': susy-repeat(12),
'gutters': 15px,
'spread': 'narrow',
'container-spread': 'narrow',
);

$container-width: 1200px;

// ----- Font Awesome
$fa-font-path: "./assets/dist/fonts";

// ---- Font Family
$font-weights: ( thin: 100,
extra-light: 200,
light: 300,
regular: 400,
medium: 500,
semi-bold: 600,
bold: 700,
extra-bold: 800,
black: 900);

$font-family-base: 'Roboto',
sans-serif;
$headings-font-family: 'Lato',
sans-serif;
$font-family-alt: Georgia,
Times,
"Times New Roman",
serif;

// ---- Padding
$padding-base-vertical: 15px;

// ---- Colors
$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee
$brand-primary: #010041;
$brand-secondary: #6e6f71;
$brand-gold: #BD9B60;

$headings-color: $brand-primary;

// ---- Scaffolding
$link-color-reverse: darken(#fff, 12%);
$link-hover-color-reverse: darken($link-color-reverse, 5%);
$link-hover-decoration: none;

// ---- Header
$header-block-padding: 30px;

$header-logo-width: 40px;
$header-logo-width-sm: 160px;

//Sticky Header
$sticky-header-bg-color: transparent;

// ---- Nav Bar
$navbar-default-bg: transparent;

$navbar-font-size: 14px;
$navbar-font-size-sm: 14px;
$navbar-font-size-md: 16px;

$navbar-margin-bottom: 0;
$navbar-height: 0;
$navbar-border-radius: 0;

$navbar-default-link-color: #fff;
// $navbar-default-link-hover-color: darken($navbar-default-link-color, 17%);
$navbar-default-link-hover-color: $navbar-default-link-color;
$navbar-default-link-hover-bg: rgba(#fff, 0.5);

$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: rgba(#fff, 0.5);

$dropdown-link-color : #666;

// ---- Typography
//$font-family-base:                $font-family-sans-serif;
$base-font-size: 15px;
$base-font-size-sm: 15px;
$base-font-size-md: 16px;

$line-height-base: 1.7;
$line-height-computed : 1.7;

$base-font-weight : 300;
$headings-font-weight: 400;
$headings-line-height: 1.1;


// ---- Link
$link-color: $brand-primary;
$link-hover-color: $brand-primary;
$link-font-weight: normal;

// ---- Text
$text-color: #333;

// ---- Media Query
// $screen-xs-min: 480px;
// $screen-sm-min: 1000px;
// ---- Thumbnails
// $thumbnail-padding:           4px;
// $thumbnail-bg:                $body-bg;
// $thumbnail-border:            #ddd;
$thumbnail-border-radius : 0; // $thumbnail-caption-color:     $text-color;
// $thumbnail-caption-padding:   9px;
// $border-radius-base:        4px;
// $border-radius-large:       6px;
// $border-radius-small:       3px;
// ---- Forms
$input-bg : darken($gray-lighter, 10%);
// $input-bg-disabled:              $gray-lighter;
// $input-color:                    $gray;
$input-border : $brand-primary;
$input-border-radius : 0.5rem;
// $input-border-radius-large:      $border-radius-large;
// $input-border-radius-small:      $border-radius-small;
// $input-border-focus:             #66afe9;
// $input-color-placeholder:        #999;
// $input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
// $input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
// $input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);
// $form-group-margin-bottom:       15px;
// $legend-color:                   $gray-dark;
// $legend-border-color:            #e5e5e5;
// $input-group-addon-bg:           $gray-lighter;
// $input-group-addon-border-color: $input-border;
// $cursor-disabled:                not-allowed;