$slick-font-path          : "./assets/dist/fonts/";
$slick-font-family        : "FontAwesome";
$slick-loader-path        : "./assets/dist/images/";
$slick-arrow-color        : rgba($brand-primary, 0.4);
$slick-dot-color          : $brand-primary;
$slick-dot-color-active   : $slick-dot-color;
$slick-prev-character     : "\f104";
$slick-next-character     : "\f105";
$slick-dot-character      : "\f111";
$slick-dot-size           : 2.0rem;
$slick-opacity-default    : 1.0;
$slick-opacity-on-hover   : 0.8;
$slick-opacity-not-active : 0.5;

.slider-for{
	// @include myoutline(red);
 
	// Arrows
		.slick-prev, .slick-next{ 
			z-index: 1; 
			height: 4.0rem;
			width: 4.0rem;
			&:before{ font-size: 4.0rem; }
		} 

		.slick-prev{
			left: 25px;
		}

		.slick-next{
			right: 25px;
		}


	// Dots
		.slick-dots{
			position: absolute;
			bottom: 25px;
			z-index: 1;
		}

		&.slick-dotted.slick-slider {
		    margin-bottom: 0;
		} 

	.slick-container{
		background: $gray-lighter;
		height: 45vh;

		img{ 
			object-fit: contain;
			width: 100%;
			height: 45vh;
			object-position: center center;
		}
	}

}

.slider-nav{
	// @include myoutline(red);
	height: 75px;
	overflow: hidden;
	margin-top: 1.0rem;

	.slick-slide{
		// @include myoutline(green);
		overflow: hidden;
		margin-left: 12px;
		margin-right: 12px;
		margin-bottom: 12px;
		min-height: 75px;
		img{ 
			object-fit: cover;
			width: 100%;
			height: 75px;
			object-position: center center;
		}
	}

}
