$slick-font-path          : "./assets/dist/fonts/";
$slick-font-family        : "FontAwesome";
$slick-loader-path        : "./assets/dist/images/";
$slick-arrow-color        : #fff; // rgba($brand-primary, 0.4);
$slick-dot-color          : $brand-primary;
$slick-dot-color-active   : $slick-dot-color;
$slick-prev-character     : "\f104";
$slick-next-character     : "\f105";
$slick-dot-character      : "\f111";
$slick-dot-size           : 2.0rem;
$slick-opacity-default    : 1.0;
$slick-opacity-on-hover   : 0.8;
$slick-opacity-not-active : 0.5;

// Scroll down arrow

.scroll-down{
	// @include myoutline(red);
	display: none;
	@include breakpoint($screen-sm-min){
	display: block;
	}
	position  : absolute;
	bottom    : 0;
	left      : 50%;
	transform : translateX(-50%);
	z-index   : 99;
	color     : #fff;
	outline   : solid 1px transparent;
}



#home-slider{

	// Arrows
		.slick-prev, .slick-next{ 
			z-index: 1; 
			height: 4.0rem;
			width: 4.0rem;
			&:before{ 
				font-size: 4.0rem; 
				color: $slick-arrow-color;
				&:hover, &:focus{
					color: $slick-arrow-color;
				}
			}
		} 

		.slick-prev{
			left: 25px;
		}

		.slick-next{
			right: 25px;
		}

		.slick-arrow{
			visibility: hidden;
			margin-left: -9999;
			margin-top: -9999;
			@include breakpoint($screen-sm-min){ 
				visibility: visible;
				margin-left: auto;
				margin-top: auto;
			}
		}


	// Dots
		.slick-dots{
			position: absolute;
			bottom: 25px;
			z-index: 1;
		}

		&.slick-dotted.slick-slider {
		    margin-bottom: 0;
		} 

	// Slide Container
		.slick-slide{
			position: relative;
			height: 320px;
			@include breakpoint($screen-sm-min){ height: 100vh; }
		}

	.slide-cta{
		&.animated{
	    	opacity: 1;
	    	transform: translate(-50%, -50%);
	    }
	    opacity: 0;
		transition: all 1.2s ease-in-out;
		@media only screen and (max-width: 576px){
			.feature-banner-buttons {
				display: flex;
				flex-direction: column;
				align-items: center;
				> a {
					&:not(:first-child){
						margin-top: 1rem;
					}
				}
			} 
		}
		
	}

}


.slide-cta{
	// @include myoutline(red);
	position       : absolute;
	top            : 50%;
	left           : 50%;
	transform      : translate(-50%, -40%);
	z-index        : 99;
	padding        : $padding-large-vertical $padding-large-horizontal;
	font-size      : $font-size-h4;
	font-weight    : map-get($font-weights, medium);
	color          : #fff;
	letter-spacing : 0.075rem;
	text-align     : center;
	padding-left   : gutter();
	padding-right  : gutter();
	width          : 100%;
	max-width      : 768px;


	h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6{
		color: #fff;
		text-transform: uppercase;
		font-weight: 300;
	    letter-spacing: 0.2rem;
	}

	h2, .h2{
		font-size: 1.6rem;
		@include breakpoint($screen-sm-min){ font-size: 2.6rem; }
	}

	p{
		display: none;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: 300;
		@include breakpoint($screen-sm-min){
			display: block;
		}
	}

	.btn-slider{
		background-color: rgba(#fff, 0.7);
		color: $brand-primary;
		font-weight: map-get($font-weights, 'bold');
	    width: 100%;
	    max-width: 300px;
	    padding-top: 10px;
	    padding-bottom: 10px;
		&:after{
			display: none;
		}
	}
}


@keyframes slideup {
  
  0% {
	transform   : translate(-50%, -40%);
	opacity: 0.0;
  }

  100% {
	transform   : translate(-50%, -50%);
	opacity: 1.0;
  }

}