$slick-font-path          : "./assets/dist/fonts/";
$slick-font-family        : "FontAwesome";
$slick-loader-path        : "./assets/dist/images/";
$slick-arrow-color        : rgba($brand-primary, 0.4);
$slick-dot-color          : $brand-primary;
$slick-dot-color-active   : $slick-dot-color;
$slick-prev-character     : "\f104";
$slick-next-character     : "\f105";
$slick-dot-character      : "\f111";
$slick-dot-size           : 2.0rem;
$slick-opacity-default    : 1.0;
$slick-opacity-on-hover   : 0.8;
$slick-opacity-not-active : 0.5;

.modal-gallery{
	// @include myoutline(red);
 
	// Arrows
		.slick-prev, .slick-next{ 
			z-index: 1; 
			height: 4.0rem;
			width: 4.0rem;
			&:before{ font-size: 4.0rem; }
		} 

		.slick-arrow{
		    background-color: rgba(255,255,255,0.8);
		    border-radius: 50%;
		    width: 40px;
		    height: 40px;
		    &:before{
		    	font-size: 40px;
		    }
		}

		.slick-prev{
			left: 25px;
		}

		.slick-next{
			right: 25px;
		}


	// Dots
		.slick-dots{
			position: absolute;
			bottom: 25px;
			z-index: 1;
		}

		&.slick-dotted.slick-slider {
		    margin-bottom: 0;
		} 

	.slide-container{
		position: relative;
		max-height: 100vh;
		padding: $padding-base-vertical $padding-base-horizontal;

		.img-cont{
			overflow: hidden;
			background-color: $gray-lighter;

			img{
				height: 65vh;
				margin-left: auto;
				margin-right: auto;
			}

		}
	}


	.slide-cta{
		position: absolute;
		top: 0;  
		left: 50%;
		transform: translate(-50%, 25%);
		z-index: 99;
		background-color: rgba(#fff, 0.8);
		box-shadow: 0px 0px 10px $gray-base;
		padding: $padding-base-vertical $padding-base-horizontal;
	}
}


