$slick-font-path          : "./assets/dist/fonts/";
$slick-font-family        : "FontAwesome";
$slick-loader-path        : "./assets/dist/images/";
$slick-arrow-color        : $brand-primary;
$slick-dot-color          : $brand-primary;
$slick-dot-color-active   : $slick-dot-color;
$slick-prev-character     : "\f104";
$slick-next-character     : "\f105";
$slick-dot-character      : "\f111";
$slick-dot-size           : 2.0rem;
$slick-opacity-default    : 1.0;
$slick-opacity-on-hover   : 0.8;
$slick-opacity-not-active : 0.5;

#lg-slider-vendor-logo{
	// @include myoutline(red);
	// width: 600px;

	// Arrows
		.slick-prev, .slick-next{ 
			z-index: 1; 
			height: 4.0rem;
			width: 4.0rem;
			&:before{ font-size: 4.0rem; }
		} 

		.slick-prev{
			left: 25px;
		}

		.slick-next{
			right: 25px;
		}


	// Dots
		.slick-dots{
			position: absolute;
			bottom: 25px;
			z-index: 1;
		}

		&.slick-dotted.slick-slider {
		    margin-bottom: 0;
		} 

	// slick-container
	.slick-container, .slick-track{
		overflow: hidden;
	}

	// Slick Slide
	.slick-slide{
		// @include myoutline(green);
		overflow: hidden;
		padding: $padding-base-vertical $padding-base-horizontal;
	
		img{
			// @include myoutline(blue);
			@include img-responsive();
			max-height: 60px;
			margin-left: auto;
			margin-right: auto;
		}
	}

}


.vendor-logos{
	border-top: solid 1px $gray-base;
}